{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Home{% endblock title %}


{% block body %}

<main class="form-signin w-50 m-auto text-center p-5">
    <div class="container mt-2">
        <h1>Reset Password</h1>
        <form method="post" style="display: block;">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Reset Password" class="btn btn-primary text-white">
        </form>
            </div>
        </div>
        </div>
    </div>
</main>
{% endblock body %}