{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ posts.title|title }}{% endblock title %}


{% block body %}

<div class="container mt-2">
    <article>
        <h1>{{ posts.title|title }}</h1>
        <p class="text-muted">By {{ posts.author }}</p>
        <p class="text-muted">Last Updated: {{ posts.updated }}</p>
        <p class="text-muted">Tags: {% for tag in posts.tags.all %} <a href="{% url 'blog:tag_post_list_view' tag.slug %}">{{ tag }}</a> &emsp13; {% endfor %} </p>
        <hr><br>
        <p>{{ posts.body|linebreaks }}</p>
    </article>

    {% if user.is_authenticated %}
    {% if posts.author == user %}
        <center>
            <a href="{% url 'blog:post_update' posts.publish.year posts.publish.month posts.publish.day posts.slug%}" type="button" role="button" class="btn btn-outline-danger">Update</a>
    <a href="{% url 'blog:post_delete' posts.publish.year posts.publish.month posts.publish.day posts.slug%}" type="button" role="button" class="btn btn-outline-danger">Delete</a>
        </center>
    {% endif %}
    {% endif %}

    {% if posts.comments.all %}
    <div class="container">
        <h3>Comments</h3>
        {% for comment in posts.comments.all %}
        <p class="text-muted">by {{ comment.author|title }}</p>
        <p class="text-muted">by {{ comment.created }}</p>
        <p> {{ comment.comment|linebreaksbr }}</p>

        {% if user.is_authenticated %}
        {% if comment.author == user %}
        <a href="{% url 'blog:comment_update' comment.id %}" class="btn  btn-outline-danger text-white" role="button" type="button">Update</a>
        <a href="{% url 'blog:comment_delete' comment.id %}" class="btn  btn-outline-danger text-white" role="button" type="button">Delete</a>
        {% endif %}
        {% endif %}

        <hr>
        {% endfor %}
    </div>
    {% endif %}
    <div class="container w-75">
        <h3>Add Comments</h3>
        <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Add Comments" class="btn btn-outline-success">
        </form>
    </div>
</div>
{% endblock body %}