{% extends 'blog/base.html' %}

{% block title %}Search{% endblock title %}


{% block body %}

<div class="container mt-2">
    <div class="album py-5 bg-transparent">
        <div class="container">
            <div class="pb-3 h5">Search</div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                {% for post in post_list %}
                <div class="col">
                    <div class="card shadow-sm border-success" style="background-color: #000000;">
                        <div class="card-body">
                            <p class="card-text">
                                <a class="text-white text-decoration-none" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                            </p>
                            <div class="d-flex justigy-content-between align-items-center">
                                <small class="text-muted">9 min read</small>
                            </div>
                        </div>
                    </div>
            
                </div>
        {% endfor %}
        </div>
    </div>
    </div>
    <center>
        <div>
            {% include 'blog/pagination.html' %}
        </div>
    </center>
</div>
{% endblock body %}