{% extends 'blog/base.html' %}

{% block title %}Home{% endblock title %}


{% block body %}

<div class="container">
    <div class="album py-5 bg-transparent">
        <div class="container">
            <div class="row">
              <div class="col-8">
                <h1>Tag: {{ tags_slugs }}</h1>
              </div>
            </div>        
            </div>       
            <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-3">
                {% for post in post_list %}
                <div class="col">
                    <div class="card shadow-sm border-success" style="background-color: #000000;">
                        <div class="card-header border-success">
                                <h4><a class="text-white text-decoration-none" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                
                                <p class="text-muted">By {{ post.author|title }} &middot; {{ post.created }} </p>
                                <p>{{ post.body|truncatewords:20 }}</p>
                            </p>
                            <div class="d-flex justigy-content-between align-items-center">
                                <small class="text-muted">9 min read</small>
                            </div>
                        </div>
                    </div>
            
                </div>
        {% endfor %}
        </div>
    </div>
    </div>
    <center>
        <div>
            {% include 'blog/pagination.html' %}
        </div>
    </center>
</div>
{% endblock body %}